@tailwind utilities;
@config "../tailwind.config.ts";
@import "tailwindcss";

body {
    font-family: "Poppins", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif !important;
}

p
{
    margin-bottom: 0px !important;
}

@layer utilities {
    @keyframes blink {
      0%, 100% { opacity: 1; }
      50% { opacity: 0; }
    }
  
    @keyframes bounce {
      0%, 100% { transform: translateY(0); }
      50% { transform: translateY(-10px); }
    }

    @keyframes bounce3 {
        0%, 100% { transform: translateY(0); }
        50% { transform: translateY(-20px); }
      }
  
    .animate-blink {
      animation: blink 1s steps(1) infinite;
    }
  
    .animate-bounce2 {
      animation: bounce 2s infinite;
    }
  
    .animate-bounce3 {
      animation: bounce3 3s infinite ease-in-out;
    }
  }

@theme {
    --container-2xl: 1320px !important
}

.section4::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    margin-left: -100px;
    top: -100px;
    border-radius: 50%;
    background-color: white;
}

.navbar__items.navbar__items--right {
    gap: 12px;
}

.breadcrumbs__item>a {
    height: 19px;
}

.monaco-editor .margin, 
.monaco-editor .monaco-editor-background,
.monaco-editor .view-lines {
  outline: none !important;
}

[data-theme-variant='home'] {
    --ifm-color-primary: #5438DC;
    --ifm-color-primary-light: #C2B8FF;
    --ifm-color-primary-contrast: #ffffff;
}

[data-theme-variant='chrysalis'] {
    --ifm-color-primary: #049E96;
    --ifm-color-primary-light: #59EDE0;
    --ifm-color-primary-contrast: #ffffff;
}
  
[data-theme-variant='argus'] {
    --ifm-color-primary: #813ADF;
    --ifm-color-primary-light: #813ADF;
    --ifm-color-primary-contrast: #ffffff;
}

[data-theme-variant='razor'] {
    --ifm-color-primary: #649DCA;
    --ifm-color-primary-light: #649DCA;
    --ifm-color-primary-contrast: #ffffff;
}

[data-theme='dark'][data-theme-variant='futura'] {
    --ifm-color-primary: #936FB6;
    --ifm-color-primary-light: #FFF8E0;
    --ifm-color-primary-contrast: #ffffff;
}

[data-theme='light'][data-theme-variant='futura'] {
    --ifm-color-primary: #4B0082;
    --ifm-color-primary-light: #FFF8E0;
    --ifm-color-primary-contrast: #ffffff;
}

[data-theme='dark'][data-theme-variant='comp'] {
    --ifm-color-primary: #FF8F71;
    --ifm-color-primary-light: #FF8F71;
    --ifm-color-primary-contrast: #ffffff;
}

[data-theme='light'][data-theme-variant='comp'] {
    --ifm-color-primary: #F83C01;
    --ifm-color-primary-light: #FF8F71;
    --ifm-color-primary-contrast: #ffffff;
}

[data-theme='dark'] {
    --futura-color-primary: #936FB6;
    --comp-color-primary: #FF8F71;
    background-color: #191919;
}
[data-theme='light'] {
    --futura-color-primary: #4B0082;
    --comp-color-primary: #F83C01;
    background-color: #ffffff;
}

@media only screen and (max-width: 997px) {
    .navbar-icon {
        display: none;
    }
}

@layer components {
    .container {
      @apply container max-w-[100%] sm:max-w-[640px] md:max-w-[768px] lg:max-w-[1024px] xl:max-w-[1140px] 2xl:max-w-[1320px];
    }
  }