@import "tailwindcss";

body {
    font-family: "Poppins", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif !important;
}

p
{
    margin-bottom: 0px !important;
}

@theme {
    --animate-blink: blink 1s steps(1) infinite;

    @keyframes blink {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

}

@theme {
    --animate-bounce2: bounce 2s infinite;
    --animate-bounce3: bounce 2.5s infinite ease-In-Out;
    --animate-bounce3: bounce 2.5s infinite ease-In-Out;
    @keyframes bounce {
        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
    }
}

.section4::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    margin-left: -100px;
    top: -100px;
    border-radius: 50%;
    background-color: white;
}

.navbar-icon::before {
    content: '';
    display: flex;
    opacity: 60%;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-image: url(/img/github_light.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
html[data-theme='dark'] .navbar-icon::before {
background-image: url(/img/github_dark.svg);
}

.navbar-icon:hover::before { 
    opacity: 100%;
}

.breadcrumbs__item>a {
    height: 19px;
}

[data-theme='dark'][data-theme-variant='home'] {
    --ifm-color-primary: #5438DC;
    --ifm-color-primary-light: #C2B8FF;
    --ifm-color-primary-contrast: #ffffff;
}

[data-theme='dark'][data-theme-variant='chrysalis'] {
    --ifm-color-primary: #049E96;
    --ifm-color-primary-light: #59EDE0;
    --ifm-color-primary-contrast: #ffffff;
}
  
[data-theme='dark'][data-theme-variant='argus'] {
    --ifm-color-primary: #813ADF;
    --ifm-color-primary-light: #813ADF;
    --ifm-color-primary-contrast: #ffffff;
}

[data-theme='dark'][data-theme-variant='razor'] {
    --ifm-color-primary: #649DCA;
    --ifm-color-primary-light: #649DCA;
    --ifm-color-primary-contrast: #ffffff;
}